<div class="aside-section">
    <div class="first-seccion">
        <div class="image-circular"><img class="image-circ" src="http://placehold.it/150x150" alt="imagen 150x150">
        </div>

        <div class="sections">
            <ul class="section-list">
                <li>Seccion 1</li>
                <li>Seccion 2</li>
                <li>Seccion 3</li>
                <li>Seccion 4</li>
                <li>Seccion 5</li>
            </ul>
        </div>

    </div>
    <div class="autor-section">
        <div class="autor-description">
            <h3>Autor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquid nam ipsa iste cum saepe
                dignissimos
                laboriosam aut eum deserunt beatae qui voluptas modi id impedit fuga veniam, minus nulla.</p>
        </div>
        <div>
            <ul class="category-list">
                <li>Categoria 1</li>
                <li>Categoria 2</li>
                <li>Categoria 3</li>
                <li>Categoria 4</li>
                <li>Categoria 5</li>
            </ul>
        </div>
    </div>
</div>