<div class="page_wrapper">
        <ul class="lista">
                <li>
                    <div>
                        <h2>Titulo del post</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus laudantium neque impedit illum quos?
                            Harum obcaecati commodi quod ullam maiores assumenda nisi quam repudiandae consectetur quasi expedita
                            libero, dolores eum?</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h2>Titulo del post</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus laudantium neque impedit illum quos?
                            Harum obcaecati commodi quod ullam maiores assumenda nisi quam repudiandae consectetur quasi expedita
                            libero, dolores eum?</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h2>Titulo del post</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus laudantium neque impedit illum quos?
                            Harum obcaecati commodi quod ullam maiores assumenda nisi quam repudiandae consectetur quasi expedita
                            libero, dolores eum?</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h2>Titulo del post</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus laudantium neque impedit illum quos?
                            Harum obcaecati commodi quod ullam maiores assumenda nisi quam repudiandae consectetur quasi expedita
                            libero, dolores eum?</p>
                    </div>
                </li>
            </ul>
</div>
